<div class="container main-container">
    <h4>Demo Cadastro</h4>
    <hr />
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Nome Completo</label>
                <div class="col-md-10">
                    <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome"
                    [ngClass]="{'is-invalid': cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)  }" />  
                    <span class="text-danger" *ngIf="cadastroForm.get('nome').errors && (cadastroForm.get('nome').dirty || cadastroForm.get('nome').touched)">
                        Preencha o campo nome</span>                  
                </div>
               
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">CPF</label>
                <div class="col-md-10">                    
                    <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf" cpf [textMask]="{mask: MASKS.cpf.textMask}"
                    [ngClass]="{'is-invalid': cadastroForm.get('cpf').errors && (cadastroForm.get('cpf').dirty || cadastroForm.get('cpf').touched)  }" />  
                    <span class="text-danger" *ngIf="cadastroForm.get('cpf').errors?.required && (cadastroForm.get('cpf').dirty || cadastroForm.get('cpf').touched)">
                        Preencha o Cpf</span>
                        <span class="text-danger" *ngIf="cadastroForm.get('cpf')?.errors?.cpf && (cadastroForm.get('cpf').dirty || cadastroForm.get('cpf').touched)">
                            Cpf inválido</span>    
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    <input class="form-control" id="email" type="text" placeholder="email (requerido)" formControlName="email"
                    [ngClass]="{'is-invalid': cadastroForm.get('email').errors && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)  }" />  
                    <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.required && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)">
                        Preencha o campo email</span>           
                        <span class="text-danger" *ngIf="cadastroForm.get('email')?.errors?.email && (cadastroForm.get('email').dirty || cadastroForm.get('email').touched)">
                            Campo email inválido
                        </span>                    
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Senha</label>
                <div class="col-md-10">
                    <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)" formControlName="senha"/>
                    <span class="text-danger" *ngIf="cadastroForm.get('senha')?.errors?.rangeLength && (cadastroForm.get('senha').dirty || cadastroForm.get('senha').touched)">
                        Campo senha inválido
                    </span>     
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Confirme a Senha</label>
                <div class="col-md-10">
                    <input class="form-control" id="senhaConfirmacao" type="password" placeholder="Confirme a Senha (requerido)" formControlName="senhaConfirmacao"/>                    
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="Registrar"  type="submit">Registrar</button></span>
                    <!-- [disabled]="!cadastroForm.valid" -->
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <p>Formulario valido: {{cadastroForm.valid}}</p>
                    <p>Formulario Tocado: {{cadastroForm.touched}}</p>
                    <p>Formulario Sujo: {{cadastroForm.dirty}}</p> <br>
                    <p>Formulario: {{formResult}}</p>
                </div>
            </div>

        </div>
    </form>
</div>