@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-sidenav-content {
  margin-top: 64px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo-image{
  max-width: 15%;
  max-height: 100%;
  height: auto;
}
